<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <title>MarkedList</title>
    <style>
      .marked {
        color: #efc14e;
      }

      mark {
        background-color: transparent;
      }

      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" style="margin-top: 2rem" v-cloak>
      <div class="container">
        <div class="form-group">
          <input type="search" v-model="search" />
        </div>
        <ul>
          <li v-for="email in filteredEmails" :key="email">
            <template v-if="!email.email">{{ email }}</template>
            <template v-else>
              <mark v-if="email.isMarked" class="marked">{{ email.email }}</mark>
              <template v-else>{{ email.email }}</template>
            </template>
          </li>
        </ul>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
