<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <div>
        <label v-for="n in 5">
          <input type="radio" name="meetupId" :value="n" v-model="meetup.current" />
          {{ n }}
        </label>
        <hr />
        <h3>{{ meetup.title }}</h3>
      </div>
    </div>
    <script type="module" src="./script.js"></script>
  </body>
</html>
